/* Mobile */

:root{
    --bgcolor: hsl(257, 40%, 49%);
}

* {
    box-sizing: border-box;
    margin: 0px;
}

body{
    background: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--bgcolor);
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    width: 100%;
    padding: 9% 10%;
}

.logo-image{
    width: 42.5%;
}

.main{
    width: 100%;
    flex-grow: 1;
}

.image-container{
    padding: 6% 10%;
}

.illustration{
    width: 100%;
}

.text-container{
    padding: 6% 10%;
    text-align: center;
}

.heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 1.5%;
}

.paragraph{
    font-size: 0.95rem;
    line-height: 1.5;
    padding: 2%;
}

.button{
    background-color: #fff;
    color: var(--bgcolor);
    padding: 4% 25%;
    border-radius: 100px;
    margin: 8%;
    font-size: 1rem;
}

.footer{
    width: 100%;
    padding: 2%;
}

.social{
    text-align: center;
}

.social-icon{
    padding: 5% 5%;
    font-size: 1.2rem;
}


.attribution {
    font-size: 11px;
    text-align: center;
    padding: 3%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:1024px){

    body{
        background: url("../images/bg-desktop.svg");
        background-color: var(--bgcolor);
        background-repeat: no-repeat;
        background-size: auto 100%;
        font-size: 16px;
    }

    .page-container{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    /* Header */
    .header{
        width: 100%;
        padding: 3% 5%;
    }

    .logo-image{
        width: 17%;
    }

    /* Main Container */
    .main{
        display: flex;
        flex-grow: 1;
        padding: 2% 5%;
    }

    .image-container{
        padding: 0;
        width: 55%;
    }

    .text-container{
        text-align: left;
        padding: 0;
        padding-left: 5%;
        width: 45%;
    }

    .heading{
        font-size: 2rem;
        padding: 4% 0;
        margin: 0;
    }

    .paragraph{
        font-size: 1rem;
    }

    .button{
        padding: 3% 12%;
        margin: 5% 0;
        font-size: 1.2rem;
    }

    /* Footer */
    .footer{
        width: 100%;
        padding: 2%;
    }
    .social{
        text-align: right;
        padding: 0 5%;
    }

    .social-icon{
        padding: 0 1%;
        font-size: 1.5rem;
    }

    .attribution{
        padding: 1%;
    }

}
